
<div class="wrapper">
  <nav class="sticky-top navbar navbar-expand-lg navbar-dark head-bg-dark">
  <div class="container">  <a href="/" title="Sol Plaatje University" target="_self" class="navbar-brand"><img src="img/1200px-Sol_Plaatje_University_logo.svg.png" alt="Sol Plaatje University Logo" width="75" height="102" title="Sol Plaatje University"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active"> <a href="/" title="Sol Plaatje University" target="_self" class="nav-link">Home <span class="sr-only">(current)</span></a> </li>
        <li class="nav-item"> <a href="/about" title="About" target="_self" class="nav-link">About</a> </li>
        <li class="nav-item"> <a href="/departments" title="Departments" target="_self" class="nav-link">Departments</a> </li>
        <li class="nav-item"> <a href="/aps" title="APS" target="_self" class="nav-link">APS</a> </li>
        <li class="nav-item"> <a href="/staff" title="Staff" target="_self" class="nav-link">Staff</a></li>
        <li class="nav-item"> <a href="/contact" title="Contact" target="_self" class="nav-link">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
{{> _navbar}}
<div class="container mt-3"><br>
  <h1>Departments</h1>
  <br>
  <br>
  <h2>Academic Programmes:</h2>
  <a title="ICT_dep" target="_self" id="ICT_Dep"><br>
  </a>
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="row">
          <div class="col-2"><a href="/departments#ICT_Dep" title="ICT" target="_self"><img src="img/40x40_1.gif" alt="ICT" class="rounded-circle" title="ICT"></a></div>
          <div class="col-lg-6 col-10 ml-1">
            <h4>ICT</h4>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="row">
          <div class="col-2"><a href="/departments#DS_Dep" title="Data Science" target="_self"><img src="img/40X40_2.gif" alt="Data Science" class="rounded-circle" title="Data Science"></a></div>
          <div class="col-lg-6 col-10 ml-1">
            <h4>Data Science</h4>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="row">
          <div class="col-2"><a href="/departments#BSc_Dep" title="BSc" target="_self"><img src="img/40x40_3.gif" alt="BSc" class="rounded-circle" title="BSc"></a></div>
          <div class="col-lg-6 col-10 ml-1">
            <h4>BSc</h4>
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>
  <!-- Diploma in Information and Communication Technology (Applications Development) -->
  <h2>Diploma in Information and Communication Technology (Applications Development):</h2>

  <h3>Programme Admission Rules:</h3>
  <br>
  <ul>
    <li>NSC pass with Diploma Requirement </li>
    <li>English Home Language: NSC Level 4 or English 1st Language NSC Level 5 </li>
    <li>Mathematics: NSC Level 3 or Mathematical Literacy: NSC Level 5. </li>
    <li>Although not compulsory, applicants with Computer Applications Technology (CAT) or Information
      Technology (IT) as subjects in their Matric curriculum, will have an added advantage. </li>
    <li>Admission Point Score (APS) minimum 25 Points. </li>

  </ul>

  <a class="btn btn-primary" href="/aps">Calculate APS</a>
  <br>
  <br>

  <h2>Diploma in Information and Communication Technology (ICT601):</h2>
  <br>
  <br>
  <h3>Curriculum Information: New Programme </h3>
  <br>
  <h3>Year Level 1: Semester 1 </h3>
  <br>
  <ul>
    <li>NADF51120(Applications Development Foundations), SAQA Credits (20) </li>
    <li>NITF51320(ICT Fundamentals), SAQA Credits (20) </li>
    <li>NPRG51320(Programming I), SAQA Credits (20) </li>
  </ul>
  <h3>Total Credits for Semester 1 Modules (60) </h3>
  <br>
  <h3>Year Level 1: Semester 2 </h3>
  <br>
  <ul>
    <li>NMUF51220(Multimedia Foundations I), SAQA Credits (20) </li>
    <li>NCNF51220(Communications Networks Foundations I), SAQA Credits (20) </li>
    <li>NINS51210(Information Systems I), SAQA Credits (10) </li>
    <li>NBUP51210(Business Practice), SAQA Credits (10) </li>
  </ul>
  <h3>Total Credits for Semester 2 Modules (60) </h3>
  <br>
  <h3>Compulsory Year Module: </h3>
  <br>
  <ul>
    <li>SCOR61016(Undergraduate Core Curriculum), SAQA Credits (16) </li>
  </ul>
  <br>
  <h3>TOTAL CREDITS FOR YEAR LEVEL 1 (136) </h3>
  <hr>
  <h3>Year Level 2: Semester 1 </h3>
  <br>
  <ul>
    <li>NPRG62120(Programming II), SAQA Credits (20) </li>
    <li>NINS62320(Information Systems II), SAQA Credits (20) </li>
    <li>NSOE62120(Software Engineering I), SAQA Credits (20) </li>
    <li>NPRC62110(Professional Communication), SAQA Credits (10) </li>
    <li>NITE62110(ICT Electives I), SAQA Credits (10) </li>
  </ul>
  <h3>Total Credits for Semester 1 Modules (80) </h3>
  <br>
  <h3>Year Level 2: Semester 2 </h3>
  <br>
  <ul>
    <li>NMUF62210(Multimedia Foundations II), SAQA Credits (10)</li>
    <li>NCNF62210(Communications Networks Foundations II), SAQA Credits (10) </li>
    <li>NBDF62220(Big Data Foundations), SAQA Credits (20) </li>
    <li>NPRM62220(Project Management), SAQA Credits (20) </li>
  </ul>
  <h3>Total Credits for Semester 2 Modules (60) </h3>
  <br>
  <h3>TOTAL CREDITS FOR YEAR LEVEL 2 (140) </h3>
  <hr>
  <h3>Year Level 3: Semester 1 </h3>
  <br>
  <ul>
    <li>NSOE63125(Software Engineering II), SAQA Credits (25) </li>
    <li>NPRG63125(Programming III), SAQA Credits (25) </li>
  </ul>
  <h3>Total Credits for Semester 1 Modules (50) </h3>
  <br>
  <h3>Year Level 3: Semester 2 </h3>
  <br>
  <ul>
    <li>NINS63220(Information Systems II), SAQA Credits (20) </li>
    <li>NDTA63210(Data Analysis and Visualization), SAQA Credits (20) </li>
    <li>NITE63410(ICT Electives II), SAQA Credits (10) </li>
    <br>
  </ul>
  <h3>Total Credits for Semester 2 Modules (60) </h3>
  <br>
  <h3>Compulsory Year Module: </h3>
  <br>
  <ul>
    <li>NPRJ63030(Project), SAQA Credits (30) </li>
  </ul>
  <h3>TOTAL CREDITS FOR YEAR LEVEL 3 (120) </h3>
  <br>
  <h3>TOTAL CREDITS FOR PROGRAMME 3 (396) </h3>
  <br>
  <hr>
  <a title="DS_dep" target="_self" id="DS_Dep"><br>
  </a>
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="row">
          <div class="col-2"><a href="/departments#ICT_Dep" title="ICT" target="_self"><img src="img/40x40_1.gif" alt="ICT" class="rounded-circle" title="ICT"></a></div>
          <div class="col-lg-6 col-10 ml-1">
            <h4>ICT</h4>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="row">
          <div class="col-2"><a href="/departments#DS_Dep" title="Data Science" target="_self"><img src="img/40X40_2.gif" alt="Data Science" class="rounded-circle" title="Data Science"></a></div>
          <div class="col-lg-6 col-10 ml-1">
            <h4>Data Science</h4>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="row">
          <div class="col-2"><a href="/departments#BSc_Dep" title="BSc" target="_self"><img src="img/40x40_3.gif" alt="BSc" class="rounded-circle" title="BSc"></a></div>
          <div class="col-lg-6 col-10 ml-1">
            <h4>BSc</h4>
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>
  <!-- BSc in Data Science(DSC701) -->
  <h2>BSc in Data Science(DSC701):</h2>
  <br>
  <h3>Programme Admission Rules:</h3>
  <br>
  <ul>
    <li>NSC pass with Bachelor’s Degree Requirement </li>
    <li>English Home Language: NSC Level 4 or English 1st Language NSC Level 5 </li>
    <li>Mathematics: NSC Level 5(Mathematical Literacy is not acceptable). </li>
    <li>Admission Point Score (APS) minimum 30 Points. </li>
  </ul>

  <a class="btn btn-primary" href="/aps">Calculate APS</a>
  <br>
  <br>

  <h3>Curriculum Information: New Programme </h3>
  <br>
  <h3>Year Level 1: Semester 1 </h3>
  <br>
  <ul>
    <li>NBCA51110(Basic Computer Organization and Architecture), SAQA Credits (10) </li>
    <li>NSTA51516(Introduction to Statistics), SAQA Credits (16) </li>
    <li>NMAT51516(Calculus), SAQA Credits (16) </li>
    <li>NIAP51310(Introduction to Algorithms and Programming), SAQA Credits (10) </li>
  </ul>
  <h3>Total Credits for Semester 1 Modules (52) </h3>
  <br>
  <h3>Year Level 1: Semester 2 </h3>
  <br>
  <ul>
    <li>NDSA51210(Data Structures and Algorithms), SAQA Credits (10) </li>
    <li>NMAT51416(Algebra), SAQA Credits (16) </li>
    <li>NDAS51210(Data Science I), SAQA Credits (10) </li>
    <li>NAPM57216(Introduction to Numerical methods and mathematical modelling), SAQA Credits (16) </li>
    <li>NSTA51416(Probability Theory), SAQA Credits (16) </li>
  </ul>
  <h3>Total Credits for Semester 2 Modules (68) </h3>
  <br>
  <h3>Compulsory Year Module: </h3>
  <br>
  <ul>
    <li>SCOR61016(Undergraduate Core Curriculum), SAQA Credits (16) </li>
  </ul>
  <br>
  <h3>TOTAL CREDITS FOR YEAR LEVEL 1 (136) </h3>
  <hr>
  <h3>Year Level 2: Semester 1 </h3>
  <br>
  <ul>
    <li>NOCN62112(Operating Systems and Computer Networks), SAQA Credits (12) </li>
    <li>NDAS62112(Data Science 2A: Data Analysis and Visualization), SAQA Credits (12) </li>
    <li>NMAT62320(Advanced Calculus), SAQA Credits (20) </li>
    <li>NDIM62112(Discrete Mathematics), SAQA Credits (12) </li>
    <li>NSTI62112(Statistical Interface), SAQA Credits (12) </li>
  </ul>
  <h3>Total Credits for Semester 1 Modules (68) </h3>
  <br>
  <h3>Year Level 2: Semester 2 </h3>
  <br>
  <ul>
    <li>NDAS62212(Data Science 2B: Large scale Data analysis and visualization), SAQA Credits (12) </li>
    <li>NAAA62212(Applications and Analysis of Algorithms), SAQA Credits (12) </li>
    <li>NDBS62212(Database Systems), SAQA Credits (12) </li>
    <li>NMAT62410(Linear Algebra), SAQA Credits (10) </li>
    <li>NAPM62410(Linear Programming), SAQA Credits (10) </li>
  </ul>
  <h3>Total Credits for Semester 2 Modules (68) </h3>
  <br>
  <h3>TOTAL CREDITS FOR YEAR LEVEL 2 (124) </h3>
  <hr>
  <h3>Year Level 3: Semester 1 </h3>
  <br>
  <ul>
    <li>NDSE73116(Data Security), SAQA Credits (16) </li>
    <li>NSIP73116(Signal and Image processing), SAQA Credits (16) </li>
    <li>NMST73116(Multivariate Statistics), SAQA Credits (16) </li>
    <li>NFLA73116(Formal language and automata), SAQA Credits (16) </li>
  </ul>
  <h3>Total Credits for Semester 1 Modules (64) </h3>
  <br>
  <h3>Year Level 3: Semester 2 </h3>
  <br>
  <ul>
    <li>NMAL73216(Machine Learning), SAQA Credits (16) </li>
    <li>NAAA73216(Advanced algorithm analysis), SAQA Credits (16) </li>
    <li>NDAS73216(Data Science III: Simulation and Modelling), SAQA Credits (16) </li>
    <br>
  </ul>
  <h3>Total Credits for Semester 2 Modules (48) </h3>
  <br>
  <h3>Compulsory Year Module: </h3>
  <br>
  <ul>
    <li>NCSP73024(Capstone Project), SAQA Credits (24) </li>
  </ul>
  <h3>TOTAL CREDITS FOR YEAR LEVEL 3 (136) </h3>
  <br>
  <h3>TOTAL CREDITS FOR PROGRAMME 3 (396) </h3>
  <br>
  <hr>
  <a title="BSc_dep" target="_self" id="BSc_Dep"><br>
  </a>
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="row">
          <div class="col-2"><a href="/departments#ICT_Dep" title="ICT" target="_self"><img src="img/40x40_1.gif" alt="ICT" class="rounded-circle" title="ICT"></a></div>
          <div class="col-lg-6 col-10 ml-1">
            <h4>ICT</h4>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="row">
          <div class="col-2"><a href="/departments#DS_Dep" title="Data Science" target="_self"><img src="img/40X40_2.gif" alt="Data Science" class="rounded-circle" title="Data Science"></a></div>
          <div class="col-lg-6 col-10 ml-1">
            <h4>Data Science</h4>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="row">
          <div class="col-2"><a href="/departments#BSc_Dep" title="BSc" target="_self"><img src="img/40x40_3.gif" alt="BSc" class="rounded-circle" title="BSc"></a></div>
          <div class="col-lg-6 col-10 ml-1">
            <h4>BSc</h4>
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>
  <!-- Bachelor of Science(BSc) -->
  <h2>Bachelor of Science(BSc):</h2>
  <br>
  <h3>Programme Admission Rules:</h3>
  <br>
  <ul>
    <li>NSC pass with Bachelor’s Degree Requirement </li>
    <li>English Home Language: NSC Level 4 or English 1st Language NSC Level 5 </li>
    <li>Mathematics: NSC Level 4(Mathematical Literacy is not acceptable). </li>
    <li>Admission Point Score (APS) minimum 30 Points. </li>
  </ul>

  <a class="btn btn-primary" href="/aps">Calculate APS</a>
  <br>
  <br>

  <hr>
  <br>
  <!-- BSc in Mathematical and Computer Sciences(NBSC705) -->
  <h2>BSc in Mathematical and Computer Sciences(NBSC705):</h2>
  <br>
  <h3>Curriculum Information: New Programme </h3>
  <br>
  <h3>Year Level 1: Semester 1 </h3>
  <br>
  <ul>
    <li>NMAT51516(Calculus), SAQA Credits (16) </li>
    <li>NAPM51316(Mechanics), SAQA Credits (16) </li>
    <li>NCOS51316(Basic Computer Organization), SAQA Credits (16) </li>
    <li>NSTA51516(Introduction to Statistics), SAQA Credits (16) </li>
  </ul>
  <h3>Total Credits for Semester 1 Modules (64) </h3>
  <br>
  <h3>Year Level 1: Semester 2 </h3>
  <br>
  <ul>
    <li>NMAT51416(Algebra), SAQA Credits (16) </li>
    <li>NAPM51216(Introduction to Numerical Methods and Mathematical Modelling), SAQA Credits (16) </li>
    <li>NCOS51216(Introduction to Programming), SAQA Credits (16) </li>
    <li>NSTA51416(Probability Theory), SAQA Credits (16) </li>
  </ul>
  <h3>Total Credits for Semester 2 Modules (64) </h3>
  <br>
  <h3>Compulsory Year Module: </h3>
  <br>
  <ul>
    <li>SCOR61016(Undergraduate Core Curriculum), SAQA Credits (16) </li>
  </ul>
  <br>
  <h3>TOTAL CREDITS FOR YEAR LEVEL 1 (144) </h3>
  <hr>
  <h3>Year Level 2: Semester 1 </h3>
  <br>
  <ul>
    <li>NMAT62320(Advanced Calculus), SAQA Credits (20)</li>
    <li>NSTA62320(Distribution Theory), SAQA Credits (20) </li>
  </ul>
  <br>
  <h3>Choose ONE of the following ELECTIVES</h3>
  <ul>
    <li>NAPM62320(Differential Equations and Their Applications), SAQA Credits (20) </li>
  </ul>
  <h3>OR</h3>
  <ul>
    <li>NCOS62320(Algorithm Analysis and Program Design) </li>
  </ul>
  <br>
  <ul>
    <li>NSTI62112(Statistical Interface), SAQA Credits (12) </li>
  </ul>
  <h3>Total Credits for Semester 1 Modules (60) </h3>
  <br>
  <h3>Year Level 2: Semester 2 </h3>
  <br>
  <ul>
    <li>NMAT62410(Linear Algebra), SAQA Credits (10) </li>
    <li>NMAT62610(Mathematical Analysis), SAQA Credits (10) </li>
    <li>NSTA62420(Statistical Inference), SAQA Credits (20) </li>
  </ul>
  <br>
  <h3>Choose ONE of the following ELECTIVES</h3>
  <ul>
    <li>NAPM62410(Linear Programming), SAQA Credits (10) </li>
    <li>NAPM62610(Numerical Analysis), SAQA Credits (10) </li>
  </ul>
  <h3>OR</h3>
  <ul>
    <li>NCOS62420(Database Systems), SAQA Credits (20) </li>
  </ul>
  <br>
  <ul>
  </ul>
  <h3>Total Credits for Semester 2 Modules (60) </h3>
  <br>
  <h3>TOTAL CREDITS FOR YEAR LEVEL 2 (120) </h3>
  <hr>
  <h3>Year Level 3: Semester 1 </h3>
  <h3>Choose TWO of the following ELECTIVES</h3>
  <ul>
    <li>NMAT73315(Real Analysis), SAQA Credits (15) </li>
    <li>NMAT73515(Abstract Algebra), SAQA Credits (15) </li>
  </ul>
  <h3>OR</h3>
  <ul>
    <li>NAPM73315(Nonlinear Programming), SAQA Credits (15) </li>
    <li>NAPM73515(Partial Differential Equations), SAQA Credits (15) </li>
  </ul>
  <h3>OR</h3>
  <ul>
    <li>NCOS73330(Operating Systems and Computer Networks), SAQA Credits (30) </li>
  </ul>
  <h3>OR</h3>
  <ul>
    <li>NSTA73315(Regression Analysis), SAQA Credits (15) </li>
    <li>NSTA73515(Non-Parametric Statistics), SAQA Credits (15) </li>
  </ul>
  <br>
  <h3>Total Credits for Semester 1 Modules (60) </h3>
  <br>
  <h3>Year Level 3: Semester 2 </h3>
  <h3>Choose TWO of the following ELECTIVES which corresponds with your choice in Semester 1</h3>
  <ul>
    <li>NMAT73415(Complex Analysis), SAQA Credits (15) </li>
    <li>NMAT73615(Number Theory), SAQA Credits (15) </li>
  </ul>
  <h3>OR</h3>
  <ul>
    <li>NAPM73415(Numerical Solution of Partial Differential Equations), SAQA Credits (15) </li>
    <li>NAPM73615(Fluid Dynamics), SAQA Credits (15) </li>
  </ul>
  <h3>OR</h3>
  <ul>
    <li>NSTA73415(Markov Processes), SAQA Credits (15) </li>
    <li>NSTA73615(Time Series Analysis and Generalized Linear Models), SAQA Credits (15) </li>
  </ul>
  <h3>OR</h3>
  <ul>
    <li>NCOS73430(Artificial Intelligence), SAQA Credits (30) </li>
  </ul>
  <br>
  <h3>Total Credits for Semester 2 Modules (60) </h3>
  <br>
  <h3>Compulsory Year Module: </h3>
  <br>
  <ul>
    <li>NCSP73024(Capstone Project), SAQA Credits (24) </li>
  </ul>
  <h3>TOTAL CREDITS FOR YEAR LEVEL 3 (120) </h3>
  <br>
  <h3>TOTAL CREDITS FOR PROGRAMME 3 (384) </h3>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="row">
          <div class="col-2"><a href="/departments#ICT_Dep" title="ICT" target="_self"><img src="img/40x40_1.gif" alt="ICT" class="rounded-circle" title="ICT"></a></div>
          <div class="col-lg-6 col-10 ml-1">
            <h4>ICT</h4>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="row">
          <div class="col-2"><a href="/departments#DS_Dep" title="Data Science" target="_self"><img src="img/40X40_2.gif" alt="Data Science" class="rounded-circle" title="Data Science"></a></div>
          <div class="col-lg-6 col-10 ml-1">
            <h4>Data Science</h4>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="row">
          <div class="col-2"><a href="/departments#BSc_Dep" title="BSc" target="_self"><img src="img/40x40_3.gif" alt="BSc" class="rounded-circle" title="BSc"></a></div>
          <div class="col-lg-6 col-10 ml-1">
            <h4>BSc</h4>
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>
  <!-- continue from here -->
</div>
<hr>
<div class="container text-white footer-bg-dark p-4">
  <div class="row">
    <div class="col-6 col-md-8 col-lg-7">
      <div class="row text-center">
        <div class="col-sm-6 col-md-4 col-lg-4 col-12">
          <ul class="list-unstyled">
            <li class="btn-link"> <a href="/" title="Sol Plaatje University" target="_self">Home</a> </li>
            <li class="btn-link"> <a href="/about" title="About" target="_self">About</a> </li>
            <li class="btn-link"> <a href=/"departments" title="Departments" target="_self">Departments</a> </li>
            <li class="btn-link"> <a href=/"aps" title="APS Calculator" target="_self">APS</a> </li>
            <li class="btn-link"> <a href=/"staff" title="Staff" target="_self">Staff</a> </li>
            <li class="btn-link"> <a href=/"contact" title="Contact" target="_self">Contact</a> </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-lg-5 col-6">
      <address>
      <strong>Sol Plaatje University</strong><br>
      Chapel St & Bultfontein Rd, Civic Centre, <br>
      Kimberley, 8301, South Africa<br>
      <abbr title="Phone">P:</abbr> +27 (0)53 491 0000
      </address>
      <address>
      <strong>Email</strong><br>
      <a href="mailto:#">information@spu.ac.za</a>
      </address>
    </div>
  </div>
</div>
<footer class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p>Copyright © Colors. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
</div>
