
<div class="wrapper">
  <nav class="navbar navbar-expand-lg navbar-dark head-bg-dark">
    <div class="container">  <a href="/" title="Sol Plaatje University" target="_self" class="navbar-brand"><img src="img/1200px-Sol_Plaatje_University_logo.svg.png" alt="Sol Plaatje University Logo" width="75" height="102" title="Sol Plaatje University"/></a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active"> <a href="/" title="Sol Plaatje University" target="_self" class="nav-link">Home <span class="sr-only">(current)</span></a> </li>
          <li class="nav-item"> <a href="/about" title="About" target="_self" class="nav-link">About</a> </li>
          <li class="nav-item"> <a href="/departments" title="Departments" target="_self" class="nav-link">Departments</a> </li>
          <li class="nav-item"> <a href="/aps" title="APS" target="_self" class="nav-link">APS</a> </li>
          <li class="nav-item"> <a href="/staff" title="Staff" target="_self" class="nav-link">Staff</a></li>
          <li class="nav-item"> <a href="/contact" title="Contact" target="_self" class="nav-link">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
  {{> _navbar}}
  <div class="container mt-3">
    <div class="row">
      <div class="col-12">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleControls" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleControls" data-slide-to="1"></li>
            <li data-target="#carouselExampleControls" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active"> <a href="/departments#ICT_Dep" title="ICT" target="_self"><img src="img/hero1.jpg" alt="ICT" class="d-block w-100" title="ICT"></a>
              <div class="carousel-caption d-none d-md-block">
                <h5>ICT</h5>
              </div>
            </div>
            <div class="carousel-item"> <a href="/departments#DS_Dep" title="Data Science" target="_self"><img src="img/hero2.jpg" alt="Data Science" class="d-block w-100" title="Data Science"></a>
              <div class="carousel-caption d-none d-md-block">
                <h5>Data Science</h5>
              </div>
            </div>
            <div class="carousel-item"> <a href="/departments#BSc_Dep" title="BSc" target="_self"><img src="img/hero3.jpg" alt="BSc" class="d-block w-100" title="BSc"></a>
              <div class="carousel-caption d-none d-md-block">
                <h5>BSc</h5>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a> <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span> </a> </div>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="row">
          <div class="col-2"><a href="/departments#ICT_Dep" title="ICT" target="_self"><img src="img/40x40_2.gif" alt="ICT" class="rounded-circle" title="ICT"></a></div>
          <div class="col-lg-6 col-10 ml-1">
            <h4>ICT</h4>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="row">
          <div class="col-2"><a href="/departments#DS_Dep" title="Data Science" target="_self"><img src="img/40X40_1.gif" alt="Data Science" class="rounded-circle" title="Data Science"></a></div>
          <div class="col-lg-6 col-10 ml-1">
            <h4>Data Science</h4>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="row">
          <div class="col-2"><a href="/departments#BSc_Dep" title="BSc" target="_self"><img src="img/40x40_3.gif" alt="BSc" class="rounded-circle" title="BSc"></a></div>
          <div class="col-lg-6 col-10 ml-1">
            <h4>BSc</h4>
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>
  <div class="container text-white footer-bg-dark p-4">
    <div class="row">
      <div class="col-6 col-md-8 col-lg-7">
        <div class="row text-center">
          <div class="col-sm-6 col-md-4 col-lg-4 col-12">
            <ul class="list-unstyled">
              <li class="btn-link"> <a href="/" title="Sol Plaatje University" target="_self">Home</a> </li>
              <li class="btn-link"> <a href="/about" title="About" target="_self">About</a> </li>
              <li class="btn-link"> <a href="/departments" title="Departments" target="_self">Departments</a> </li>
              <li class="btn-link"> <a href="/aps" title="APS Calculator" target="_self">APS</a> </li>
              <li class="btn-link"> <a href="/staff" title="Staff" target="_self">Staff</a> </li>
              <li class="btn-link"> <a href="/contact" title="Contact" target="_self">Contact</a> </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-5 col-6">
        <address>
        <strong>Sol Plaatje University</strong><br>
        Chapel St & Bultfontein Rd, Civic Centre, <br>
        Kimberley, 8301, South Africa<br>
        <abbr title="Phone">P:</abbr> +27 (0)53 491 0000
        </address>
        <address>
        <strong>Email</strong><br>
        <a href="mailto:#">information@spu.ac.za</a>
        </address>
      </div>
    </div>
  </div>
  <footer class="text-center">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p>Copyright © Colors. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>
</div>
