<nav class="navbar navbar-expand-lg navbar-dark head-bg-dark">
  <div class="container">  <a href="/" title="Sol Plaatje University" target="_self" class="navbar-brand"><img src="img/1200px-Sol_Plaatje_University_logo.svg.png" alt="Sol Plaatje University Logo" width="75" height="102" title="Sol Plaatje University"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active"> <a href="/" title="Sol Plaatje University" target="_self" class="nav-link">Home <span class="sr-only">(current)</span></a> </li>
        <li class="nav-item"> <a href="/about" title="About" target="_self" class="nav-link">About</a> </li>
        <li class="nav-item"> <a href="/departments" title="Departments" target="_self" class="nav-link">Departments</a> </li>
        <li class="nav-item"> <a href="/aps" title="APS" target="_self" class="nav-link">APS</a> </li>
        <li class="nav-item"> <a href="/staff" title="Staff" target="_self" class="nav-link">Staff</a></li>
        <li class="nav-item"> <a href="/contact" title="Contact" target="_self" class="nav-link">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
{{> _navbar}}
<div class="container mt-3"><br>
  <h1>Staff</h1>
  <br>
  <h2>Members of Staff</h2>
  <br>
  <h3>Administrative Staff:</h3>
  <br>
  <ul>
    <li>Head of School, Prof AC Gelebe, PhD, MSc(RU), BSc Hons, BSc(UNIVEN) </li>
    <li>School Administrator, Mrs K Lesiba </li>
  </ul>
  <br>
  <h3>Academic Staff (*Head of Department)</h3>
  <br>
  <h3>Department of Biological and Agricultural Sciences: </h3>
  <br>
  <h4>Senior Lecturers: </h4>
  <ul>
    <li>Dr DM Harebottle (Zoology), PhD(UCT), MSc, BSc Hons, BSc(UKZN) </li>
    <li>Dr A Adebowale (Botany/Biology), PhD(UKZN), MSc, BSc Hons(OAU) </li>
  </ul>
  <h4>Lecturers: </h4>
  <ul>
    <li>Ms MA Bopape (Agriculture), MTech, BTech(TUT) </li>
    <li>Ms E Nenzhelele (Botany), MSc(UCT), BSc Hons, BSc (UNIVEN) </li>
    <li>Dr T Musvuugwa (Botany), PhD(US), MSc(UCT), BSc Hons (NUST, Zimbabwe) </li>
    <li>MMr RV Modiba (Zoology), MSc, BSc Hons, BSc (UNIVEN) </li>
  </ul>
  <h4>Laboratory Technician: </h4>
  <ul>
    <li>Ms PK Letebele, BSc Hons, BSc (UFS) </li>
  </ul>
  <br>
  <h3>Department of Computer Science and Information Technology: </h3>
  <br>
  <h4>Senior Lecturers: </h4>
  <ul>
    <li>Dr T Tuyikeze (Information Technology), PhD(UFH), MIT(NMMU), BTech(NMMU), N. Dipl.(WSU) </li>
    <li>Dr G Mwansa (Information Systems), PhD(UNISA), MSc(UNAM), BSc(UNZA) </li>
  </ul>
  <h4>Lecturers: </h4>
  <ul>
    <li>Mr T Baitshenyetsi (Computer Science), MSc, BSc Hons, BSc(NWU) </li>
    <li>Mr G Rudolph (Information Technology), MTech IT, BTech, N. Dipl.(CPUT) </li>
    <li>Mr O Randle (Information Networks), MTech (TUT), BSc Hons(CU, Nigeria) </li>
    <li>Mrs M Mwansa (Management), MPhil(UJ), BA Hons(UNISA), Bed(Univ, Namibia), Adv. Cert. Project Management(UNISA) </li>
    <li>Mr LS Serutla (Computer Science), MSc(Sherfield, UK), BSc(NUL) </li>
    <li>Ms FT Matsebula (Information Systems), MTech(TUT) </li>
    <li>Mr M Nkomo (Communication and Information Engineering), MSc(Shadong Univ. of Science & Tech., China), BEng Hons(National University of Tech., Zimbabwe) </li>
    <li>Dr AJ Mwanza (Computer Science), Ded(WSU), MSc(NUST), BSc(UNZA), PGDE(UCT), CCAI(CISCO) </li>
    <li>Mr DT Kunjuzwa (Computer Science), MSc(UFH) </li>
    <li>Ms N Mpofu (Computer Science), Msc(Zimbabwe) </li>
    <li>Dr T Gundu (Information Systems), PhD, MCom, BSc Hons, BSc(UFH), Dip. PC Maintenance & Network, Dip. Web Designing & E-Commerce(BCE, London) </li>
    <li>Mrs E Mamabolo (Information Technology), BTech(TUT), BSc(Vista) </li>
    <li>Ms N Modiba (Information Technology), BTech(TUT) </li>
    <li>Ms M Babutsi (Computer Science), MSc, BSc Hons(NWU), BSc(Amity) </li>
    <li>Mr IJ Marais (Communications), BA Hons(UP) </li>
    <li>Mr L Makhoere (Information Systems), BCom Hons, BCom(NWU) </li>
  </ul>
  <br>
  <h3>Department of Mathematical Sciences: </h3>
  <br>
  <h4>Senior Lecturers: </h4>
  <ul>
    <li>Dr ST Sikwila (Applied Mathematics), PhD(Univ. Limerick, Ireland), BSc Hons(UZ) </li>
    <li>Dr D Mothibi (Applied Mathematics), PhD(NWU), MSc(SU), BSc Hons, BSc(NWU) </li>
  </ul>
  <h4>Lecturers: </h4>
  <ul>
    <li>Mr R Bappoo (Operations Research), MPhil(NUST, Zimbabwe), BA Hons(Delhi University, India), PG Dip(Higher Education)(RU), Ed Planning & Admin(New Delhi, ACE(UKZN) </li>
    <li>Mr MI Mabokgole (Mathematics Statistics), MSc(UFS) </li>
    <li>Mr LD Moleleki (Applied Mathematics), MSc, BSc Hons, BSc(NWU) </li>
    <li>Mr M Pienaar (Mathematics), MSc, BSc Hons, BSc(RAU) </li>
    <li>Mr K Sebogodi (Mathematics), MSc, BSc Hons, BSc(NWU) </li>
  </ul>
  <br>
  <h3>Department of Mathematical Sciences: </h3>
  <br>
  <h4>Senior Lecturers: </h4>
  <ul>
    <li>Dr ST Sikwila (Applied Mathematics), PhD(Univ. Limerick, Ireland), BSc Hons(UZ) </li>
    <li>Dr D Mothibi (Applied Mathematics), PhD(NWU), MSc(SU), BSc Hons, BSc(NWU) </li>
  </ul>
  <h4>Lecturers: </h4>
  <ul>
    <li>Mr R Bappoo (Operations Research), MPhil(NUST, Zimbabwe), BA Hons(Delhi University, India), PG Dip(Higher Education)(RU), Ed Planning & Admin(New Delhi, ACE(UKZN) </li>
    <li>Mr MI Mabokgole (Mathematics Statistics), MSc(UFS) </li>
    <li>Mr LD Moleleki (Applied Mathematics), MSc, BSc Hons, BSc(NWU) </li>
    <li>Mr M Pienaar (Mathematics), MSc, BSc Hons, BSc(RAU) </li>
    <li>Mr K Sebogodi (Mathematics), MSc, BSc Hons, BSc(NWU) </li>
  </ul>
  <h4>Junior Lecturers: </h4>
  <ul>
    <li>Mr L Ndwandwe (Statistics), BSc Hons, BSc (UKZN) </li>
  </ul>
  <br>
  <h3>Department of Physical and Earth Sciences: </h3>
  <br>
  <h4>Senior Lecturers: </h4>
  <ul>
    <li>Dr JS Sefadi (Chemistry), PhD(UFS) </li>
  </ul>
  <h4>Lecturers: </h4>
  <ul>
    <li>Dr TE Tshabalala (Chemistry), PhD, MSc, BSc Hons, BSc(WITS) </li>
    <li>Mr TR Mashile (Chemistry), MSc(UP), BSc Hons, BSc(UL) </li>
    <li>Mr FS Komati (Physics), MSc, BSc(Ed)(NWU) </li>
    <li>Dr KG Sekonya (Physics), PhD, MSc(WITS), BSc Hons, BSc(UL) </li>
    <li>Mr A Zungu (Physics), MSc, BSc Hons, BSc(UKZN) </li>
    <li>Dr TH Kabanda (Geography), PhD(NWU) </li>
    <li>Mr J Hlatywayo (Geography), MSc, MCom(UKZN), BSc Hons, Dip. Education(UZ, Zimbabwe) </li>
    <li>Ms PP Mokoena, MSc BSc Hons, BSc(UFS) </li>
  </ul>
  <h4>Laboratory Technicians: </h4>
  <ul>
    <li>Ms MPJ Mabuza (Chemistry), BSc Hons, BSc(UFS) </li>
    <li>Ms D Nepfumbada (Geology), BSc Hons, BSc(UFS) </li>
    <li>Mr MD Buthelezi (Physics), BSc Hons. BSc(UKZN) </li>
  </ul>
</div>
<hr>
<div class="container text-white footer-bg-dark p-4">
  <div class="row">
    <div class="col-6 col-md-8 col-lg-7">
      <div class="row text-center">
        <div class="col-sm-6 col-md-4 col-lg-4 col-12">
          <ul class="list-unstyled">
            <li class="btn-link"> <a href="/" title="Sol Plaatje University" target="_self">Home</a> </li>
            <li class="btn-link"> <a href="/about" title="About" target="_self">About</a> </li>
            <li class="btn-link"> <a href="/departments" title="Departments" target="_self">Departments</a> </li>
            <li class="btn-link"> <a href="/aps" title="APS Calculator" target="_self">APS</a> </li>
            <li class="btn-link"> <a href="/staff" title="Staff" target="_self">Staff</a> </li>
            <li class="btn-link"> <a href="/contact" title="Contact" target="_self">Contact</a> </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-lg-5 col-6">
      <address>
      <strong>Sol Plaatje University</strong><br>
      Chapel St & Bultfontein Rd, Civic Centre, <br>
      Kimberley, 8301, South Africa<br>
      <abbr title="Phone">P:</abbr> +27 (0)53 491 0000
      </address>
      <address>
      <strong>Email</strong><br>
      <a href="mailto:#">information@spu.ac.za</a>
      </address>
    </div>
  </div>
</div>
<footer class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p>Copyright © Colors. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
